@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241, 241, 241);
    font-family: 'Gloria Hallelujah', cursive;
    box-sizing: border-box;
}
.content{
    min-width: 900px;
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    background-color: rgb(255, 255, 255);
}
.left {
    flex: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;


    background-image: url(./background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.logo {
    margin-top: 20vh;
    width: 100%;
    background-color: rgb(36, 36, 36, 0.7);
    height: 20vh;

    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.8rem;
    color: antiquewhite;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .palm{
    height: 17vh;
    width: auto;
}
.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.right>div{

    color: rgb(92, 92, 92);
    padding-left: 25px;
}
.formDiv{
    background-color: rgb(249, 249, 249);
    min-height: fit-content;
    width: calc(100%-25px);
    box-shadow: 3px 3px 3px 1px gainsboro;
    border-radius: 5px;
}

.formDiv legend{
    font-size: 1.4rem;
    max-height: 12vh;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
form>div>div {
    position: relative;

}
form>div>div:not(.last){
    margin-bottom: 2.5rem;
}
.formDiv label{
    position: absolute;
    top: -1.5em;
}

.formDiv input{
    width: 40%;
    margin-right: 5%;
    border: 1px solid rgb(92, 92, 92);
    max-height: 1.5rem;
    border-radius: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0 5px;
}

input.error{
    border-color: palevioletred;
    background-color: rgb(227, 193, 205);
}
input:valid{
    border-color: greenyellow;
}
input:focus-visible{
    border-width: 2px;
    border-color: rgb(27, 120, 243);
    box-shadow: 2px 2px 1px 0 paleturquoise;
    outline:none;
}

input + span{
    visibility: hidden;
    color: palevioletred;
    opacity: 0.8;
}
input.error + span {
    visibility: visible;
}
a{
    text-decoration: none;
    color: rgb(86, 201, 96);
}
button{
    background:  rgb(86, 201, 96);
    padding: 10px 20px;
    border: 3px solid rgb(92, 92, 92);
    border-radius: 8px;
    font-family: 'Gloria Hallelujah', cursive;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: rgb(92, 92, 92);
}